<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blood Bank System</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
	<div class="main_page">
        <div class="">
		    <header class="header">
		    	<div class="container">
			    	<div class="row d-flex align-items-center">			
				     	<div class="col-4">
		                   <h1>Blood Bank System</h1>    
		              	</div>
		              	<div class="col-8 d-flex justify-content-end">
		              		<nav>
							  <ul class="nav d-flex">
							    <!-- <li><a href="/">Place Order</a></li> -->
							    <li><a href="/login">Login</a></li>
							    <!-- <li><a href="/signupbloodbank">SignUp</a></li> -->
							  </ul>
							</nav>
		              	</div>
	               </div>
           		</div>
            </header>