<nav>
  <ul class="nav d-flex">
    <li><a href="/bloodbankhome">Home</a></li>
    <li><a href="/bloodBankAppointments">Appointments</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav> 