<nav>
    <ul class="nav d-flex">
        <li><a href="/appointment">Home</a></li>
        <li><a href="/userAppointments">Appointments</a></li>
        <li><a href="/logoutuser">Logout</a></li>
    </ul>
  </nav> 