<%- include('includes/header') %>
<%- include('includes/nav-dashboard') %>
<div class="content-wrap">
    <br/>
    <h1>Thank you</h1>
    <br/>
    <h3><%= message %></h3>
</div>
<%- include('includes/footer') %>