<%- include('includes/header') %>

<div class="content-wrap">
    <h1 class="text-center">Login</h1>
    <div class="login-container">
        <form action="loginsubmit" method="POST" enctype="multipart/form-data">
           <div>
                <div class="row">
                    <div class="col-2">
                        <label>Username </label>
                    </div>
                    <div class="col-10">
                        <input id="username" class="txtinput" placeholder="username" type="text" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label>Password</label>
                    </div>
                    <div class="col-10">
                        <input id="password" class="txtinput" placeholder="password" type="password" name="password">
                    </div>
                </div>
            </div>
           <div class="row">
                    <div class="col-2">
                       
                    </div>
                    <div class="col-10">
                       <a href="#" class="text-right d-block">Sign Up</a>
                    </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <input type="submit" value="Submit" class="login">
                   
                </div>
            </div>
            
        </form>
    </div>
</div>
<%- include('includes/footer') %>
            