<%- include('includes/header') %>
<%- include('includes/user-nav-dashboard') %> 

<div class="content-wrap">
	<main>
      <h1>User Home</h1>
	</main>
</div>
<%- include('includes/footer') %>
            