<%- include('includes/header') %>
<!-- <%- include('includes/nav-dashboard') %> -->
<nav>
    <ul class="nav d-flex">
      <li><a href="/bloodbankhome">Home</a></li>
      <li><a href="/userAppointments">Appointments</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav> 
<div class="content-wrap">
	<main>
      <h1>User Home</h1>
	</main>
</div>
<%- include('includes/footer') %>
            